# Folders to ignore (e.g., build files or C++ dependencies)
ios/Pods/* linguist-vendored
android/app/src/main/cpp/* linguist-vendored


*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.dart linguist-detectable=true